<footer class="bg-body-tertiary text-center text-lg-start fixed-bottom">
    <div class="text-center p-3" style="display: flex;background-color: rgb(255 255 255 / 78%);justify-content: space-between;">
        <strong>Intr. a la Programación | UNGS</strong>
        <strong>{{VERSION}}</strong>
    </div>
</footer>
<script>
(function() {

  const loader = document.getElementById("page-loader");

  function showLoader(){
    if(!loader) return;
    loader.classList.remove("hidden");
  }

  function hideLoader(){
    if(!loader) return;
    loader.classList.add("hidden");
  }

  /* MOSTRAR AL HACER CLICK EN CUALQUIER LINK */

  document.addEventListener("click", function(e){
    const link = e.target.closest("a");

    if(!link) return;

    const href = link.getAttribute("href");

    // ignorar anclas internas
    if(!href || href.startsWith("#")) return;

    // ignorar nuevas pestañas
    if(link.target === "_blank") return;

    showLoader();
  });

  /* OCULTAR CUANDO LA PAGINA TERMINA DE CARGAR */

  window.addEventListener("load", function(){
    hideLoader();
  });

})();
</script>
</body>

</html>